@model DB_s2_1_1.ViewModel.Routes.RoutesStationViewModel

@{
    ViewData["Title"] = "Edit station";
}

<h1>Edit station</h1>



<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Route ID
        </dt>
        <dd class="col-sm-10">
            @Model.RouteStation.RouteId
        </dd>
        <dt class="col-sm-2">
            Station order
        </dt>
        <dd class="col-sm-10">
            @Model.RouteStation.StationOrder
        </dd>
    </dl>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditStation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RouteStation.Id" />
            <input type="hidden" asp-for="RouteStation.RouteId" />
            <input type="hidden" asp-for="RouteStation.StationOrder" />
            <div class="form-group">
                <label name="StationId" class="control-label">Station</label>
                <select asp-for="RouteStation.StationId" class="form-control" asp-items="@Model.StationsSelectList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.RouteStation.RouteId">Back</a>
</div>

@section Scripts {s
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
