@model DB_s2_1_1.ViewModel.Timetables.TimetablesCreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Timetable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TrainId" class="control-label">Train id</label>
                <select asp-for="TrainId" class="form-control" asp-items="@Model.TrainsSelectList"></select>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalTime" class="control-label">Arrival time</label>
                <input asp-for="ArrivalTime" class="form-control" />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" asp-for="TrainDirection" value="@bool.TrueString" /> @Html.DisplayNameFor(model => model.TrainDirection)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}