@model DataTable

@{
    ViewData["Title"] = "Manual query";
}

<h1>Manual query</h1>
@if (ViewData["ErrorMsg"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["ErrorMsg"]
    </div>
}

<form asp-action="Index" method="get">
    <div class="form-group">
        <textarea class="form-control" placeholder="Write your query there" name="Query">@ViewData["InsertedQuery"]</textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Execute</button>
    </div>

</form>
<table class="table">
    <thead>
        <tr>
            @foreach (DataColumn item in Model.Columns)
            {
                <th>@item.ColumnName</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                @for (int i = 0; i < Model.Columns.Count; ++i)
                {
                    <td>@dr[i].ToString()</td>
                }
            </tr>
        }
    </tbody>
</table>
